<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.lucidman.excel.table.service.TableMapper">

    <resultMap id="columnMap" type="net.lucidman.excel.table.vo.ColumnVO">
        <result property="id" column="id" />
        <result property="columnName" column="columnName" />
        <result property="dataType" column="dataType" />
        <result property="isNull" column="isNull" />
        <result property="key" column="key" />
        <result property="defaultValue" column="defaultValue" />
        <result property="comment" column="comment" />
    </resultMap>

    <resultMap id="tableMap" type="net.lucidman.excel.table.vo.TableVO">
        <result property="tableName" column="tableName" />
        <result property="comment" column="comment" />
    </resultMap>

    <select id="selectColumns" parameterType="java.lang.String" resultMap="columnMap">
        WITH INVW AS (
            SELECT
                   A.TABLE_NAME
                 , B.COLUMN_NAME
                 , B.COLUMN_POSITION
                 , A.CONSTRAINT_NAME
            FROM   USER_CONSTRAINTS A
                 , USER_IND_COLUMNS B
            WHERE  A.CONSTRAINT_TYPE = 'P'
            AND    A.INDEX_NAME = B.INDEX_NAME
            AND    A.TABLE_NAME = B.TABLE_NAME
            AND    A.TABLE_NAME = #{tableName}
        )
		SELECT
			   A.COLUMN_ID ID
			 , A.COLUMN_NAME 		"columnName"
			 , A.DATA_TYPE ||
			   CASE A.DATA_TYPE WHEN 'VARCHAR2' THEN '(' || A.DATA_LENGTH || ')'
			                    WHEN 'CHAR' THEN '(' || A.DATA_LENGTH || ')'
			                    WHEN 'NUMBER' THEN '(' || A.DATA_LENGTH || ')'
			                    ELSE NULL
			    END					"dataType"
			 , A.NULLABLE 			"isNull"
			 , B.COLUMN_POSITION    "key"
			 , A.DATA_DEFAULT		"defaultValue"
			 , C.COMMENTS			"comment"
		FROM   USER_TAB_COLS A
             , INVW B
             , USER_COL_COMMENTS C
        WHERE  A.TABLE_NAME = B.TABLE_NAME(+)
        AND    A.COLUMN_NAME = B.COLUMN_NAME(+)
		AND    A.TABLE_NAME = C.TABLE_NAME(+)
		AND    A.COLUMN_NAME = C.COLUMN_NAME(+)
		AND    A.TABLE_NAME = #{tableName}
		ORDER BY A.COLUMN_ID ASC
	</select>

    <select id="selectTables" resultMap="tableMap">
		SELECT A.TABLE_NAME as "tableName"
		     , B.COMMENTS as "comment"
		FROM   USER_TABLES A
		     , USER_TAB_COMMENTS B
	    WHERE  A.TABLE_NAME = B.TABLE_NAME(+)
		ORDER BY A.TABLE_NAME ASC
	</select>

</mapper>